﻿@using MyBlogPage.App_GlobalResources

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fatma Demir - B161210389</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/Assets/css/blog.css" rel="stylesheet" />

</head>

<body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <header>
                        <div class="inner">
                            <h3 class="masthead-brand">FD</h3>
                            <nav>
                                <ul class="nav masthead-nav">
                                    <li><a href="/">@GlobalResource.TopMenuHome</a></li>
                                    <li><a href="/home/aboutus">@GlobalResource.TopMenuAboutUs</a></li>

                                    @{
                                        var culture = GlobalResource.Culture;
                                        var newculture = "tr-TR";
                                        var shortName = "TR";

                                        if (culture.TwoLetterISOLanguageName.ToLower() == "tr")
                                        {
                                            newculture = "en-US";
                                            shortName = "EN";
                                        }
                                    }
                                    <li class="active"><a href="/Home/ChangeCulture?culture=@newculture">@shortName</a></li>
                                </ul>
                            </nav>
                        </div>
                    </header>
                </div>

                @RenderBody()

                <footer>
                    <div class="mastfoot">
                        <div class="inner">
                            <p>@Html.Raw(GlobalResource.CopyRightText)</p>
                        </div>
                    </div>
                </footer>

            </div>

        </div>

    </div>

    <script src="/Assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>
