﻿@using MyBlogPage.App_GlobalResources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner cover">
    <h1 class="cover-heading">@Html.Raw(GlobalResource.AboutusTitle)</h1>
    <p class="lead">
        @Html.Raw(GlobalResource.AboutusContent)
    </p>
    
    <br/>
    
</div>
