﻿@using MyBlogPage.App_GlobalResources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner cover">
    <h1 class="cover-heading">@Html.Raw(GlobalResource.Title)</h1>
    <p class="lead">
        @Html.Raw(GlobalResource.Description)
    </p>
    
    <br/>
    <br/>
    <br/>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">@GlobalResource.LabelEmail</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">@GlobalResource.LabelPassword</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">
                        @GlobalResource.LabelRememberMe
                    </label>
                </div>
            </div>
            <div class=" col-sm-4">
                <button type="submit" class="btn btn-default" onclick="alert('Giriş yakında!'); return false;">@GlobalResource.ButtonTextLogin</button>
            </div>
        </div>
    </form>
</div>
